* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Side Bar */
.header-left img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header {
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px;
    width: 100%;
    background-color: #fff;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

.header-search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: #808080;
    background-color: #eef3f8;

}

.header-search input {
    outline: none;
    border: none;
    background: none;
}

.header-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: #808080;
    cursor: pointer;
}

.header-option:hover {
    color: black;
}

.header-option h3 {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}

.header-option-icons {
    margin-right: 5px;
    height: 20px;
    width: 20px;
}

/* Main Body */
.body-main{
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Side Bar */
.sidebar {
    position: sticky;
    top: 80px;
    flex: 0.24;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.sidebar-top img {
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
    padding-bottom: 10px;
}


.sidebar-top-avatar {
    font-size: 40px;
}

.sidebar-stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.sidebar-stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar-stat p {
    color: #808080;
    font-size: 13px;
    font-weight: 600;
}

.sidebar-statNumber {
    font-weight: bold;
    color: #0a66c2 !important;
}

.sidebar-top h4 {
    color: #808080;
    font-size: 12px;
    margin-top: 5px;
    padding: 0 5px;
}

.sidebar-top h2 {
    font-size: 18px;
    
}

.sidebar-events {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar-recent-item {
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar-recent-item:hover {
    background-color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
}

.sidebar-hash {
    margin: 0 10px;
}

.sidebar-events p {
    font-size: 14px;
    padding-bottom: 10px;
}

/* Feed Section */

.feed {
    flex: 0.72;
    margin: 0 20px;
}

.feed-inputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed-input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed-input form {
    display: flex;
    width: 100%;
}

.feed-input form input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed-inputOptions {
    display: flex;
    justify-content: space-evenly;
}

.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputOption:hover {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.inputOption h4 {
    margin-left: 5px;
}

.post {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post-header {
    display: flex;
    margin-bottom: 10px;
}

.post-info {
    margin-left: 10px;
}

.post-info p {
    font-size: 12px;
    color: gray;
}


.post-info h2 {
    font-size: 15px;
}


/* Widgets */
.widgets {
    position: sticky;
    top: 80px;
    flex: 0.24;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.widget-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widget-header h2 {
    font-size: 16px;
    font-weight: 400;
}

.widgets-article {
    display: flex;  
    padding: 10px;
    cursor: pointer;
}


.widgets-article:hover{
    background-color: #f5f5f5;
}

.widgetarticleLeft {
    color: #0a66c2;
    margin-right: 5px;
}

.widgetarticleLeft .material-icons {
    font-size: 15px;
}

.widgetarticleRight {
    flex: 1;
}

.widgetarticleRight h4 {
    font-size: 14px;
}

.widgetarticleRight p {
    font-size: 12px;
    color: gray;
}



